= form_for @decision, remote: true, format: :js do |f|
  = f.label :question, class: 'control-label'
  = f.text_field :question, placeholder: 'Who, what, where, when, why?', class: :span12
  = render 'shared/field_error_message', object: @decision, field: :question
  = f.label :notes, 'Notes (optional)', class: 'control-label'
  = f.text_area :notes, placeholder: 'Just some notes for yourself about the decision.', rows: 3, class: :span12
  = render 'shared/field_error_message', object: @decision, field: :notes
  = render 'shared/form_actions', back_path: back_path