= form_for @decision, remote: true, format: :js do |f|
  = f.label :title, class: 'control-label'
  = f.text_field :title, placeholder: 'Who, what, where, when, why?', autofocus: true, class: :span1
  = render 'shared/field_error_message', object: @decision, field: :title
  = f.label :notes, 'Notes (optional)', class: 'control-label'
  = f.text_area :notes, placeholder: 'Just some notes for yourself about the decision.', rows: 3, class: :span1
  = render 'shared/field_error_message', object: @decision, field: :notes
  %hr
  = link_to back_path, class: 'btn' do
    %icon.icon-chevron-left
    Back
  .pull-right
    %button.btn.btn-primary{ type: :submit, data: { 'disable-with' => 'Saving...' } }
      Save
      %icon.icon-chevron-right.icon-white