= render layout: 'layouts/action_bar', locals: { title: 'Final Decision', back_path: @decision } do
  = link_to decisions_path, class: :action do
    %icon.icon-ok.icon-2x

#top_score
  - top_choice = @choices.shift
  %h3.center= top_choice.name
  %p.text-info.center Top choice
  %h1.center= top_choice.total_score
  %p.text-info.center Total score

%p.muted Other choices:
%table.table.table-condensed
  %tbody
    - @choices.each do |choice|
      %tr
        %td
          %strong= choice.name
        %td.right= choice.total_score
