= render 'layouts/header', title: 'Your decisions'

- if @decisions.any?
  %ul.nav.nav-tabs.nav-stacked
    = render @decisions
  .center= will_paginate

- else
  %h4.center Looks like you don't have any decisions yet! 
  %p.center Click the button below to start a new one.

%hr
= link_to '#', class: 'btn' do
  %i.icon-off
  Sign out
.pull-right
  = link_to new_decision_path, class: 'btn btn-primary' do
    New decision
    %i.icon-plus.icon-white
