= render 'layouts/header', title: @decision.question, small_title: @decision.notes, url: edit_decision_path(@decision)

%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to decision_criteria_path(@decision) do
      %strong Criteria 
      = "(#{@decision.criteria.count})"
      %i.icon-chevron-right.pull-right
  %li
    = link_to decision_choices_path(@decision) do
      %strong Choices 
      = "(#{@decision.choices.count})"
      %i.icon-chevron-right.pull-right

= render layout: 'layouts/action_bar', locals: { back_path: decisions_path, action_path: '#' } do
  Decide it!
  %icon.icon-ok.icon-white