= render layout: 'layouts/action_bar', locals: { title: 'Decision', back_path: decisions_path } do
  = link_to edit_decision_path(@decision), class: :action do
    %icon.icon-pencil.icon-2x
  = link_to decide_decision_path(@decision), class: :action do
    %icon.icon-legal.icon-2x

%p First setup your choices and criteria:
%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to decision_choices_path(@decision) do
      %strong Choices 
      = "(#{choices.count})"
      = ok_if enough_choices?
  %li
    = link_to decision_criteria_path(@decision) do
      %strong Criteria 
      = "(#{criteria.count})"
      = ok_if enough_criteria?

%p Then assign them scores:
%ul.nav.nav-tabs.nav-stacked
  %li
    - if scores_enabled?
      = link_to decision_scores_path(@decision) do
        %strong Scores
        = ok_if scores_completed?
    - else
      = link_to '#', data: { 'no-turbolink' => true } do
        %strong.muted Scores
        %i.icon-ban-circle.pull-right
