= form_for [@decision, @choice], remote: true, format: :js do |f|
  = f.label :name, class: 'control-label'
  = f.text_field :name, placeholder: 'Choice', class: :span12
  = render 'shared/field_error_message', object: @choice, field: :name
  = render layout: 'layouts/action_bar', locals: { title: title, back_path: decision_choices_path(@decision) } do
    = link_to '#', class: :action, onclick: submit_form do
      %icon.icon-save.icon-2x